@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 20px;
      height: 20px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #f7f4ed;
      background-color: rgba(31, 41, 55, 0.1);
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #e0cbcb;
      border-radius: 100vh;
      background-color: rgba(31, 41, 55, 0.1);
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #c0a0b9;
    }
  }